@model IEnumerable<SampleMVCSolution.Models.Exchange>

<script src="/Scripts/highcharts.js"></script>

@{
    ViewBag.Title = "Range";
}

<h2>Range Plot</h2>

<div id="RangeChartInfo">
    Plotting charts of @(Model.First().CurrencyCode) rates for @(Model.Count()) days.
</div>
<div id="RangeChart"></div>

    <script>
        var targetCurrencyCode = "@(Model.First().CurrencyCode)";
        var startDate = Date.parse("@(Model.First().Date.ToString("yyyy-MM-dd"))");
        var rates = [@(String.Join(", ", Model.Select(ex => ex.Rate)))];
        var last = rates[rates.length - 1];
        rates.push(last);
        $(function () {
            $('#RangeChart').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Currency rates'
                },
                xAxis: {
                    type: 'datetime',
                    minRange: 1 * 24 * 3600 * 1000 // one day
                },
                yAxis: {
                    title: {
                        text: 'Exchange rate'
                    }
                },
                series: [{
                    name: targetCurrencyCode + ' to USD',
                    pointInterval: (24 * 3600) * 1000, // one day
                    pointStart: startDate,
                    step: 'left',
                    data: rates
                }]
            });
        });
    </script>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayFor(model => model.First().CurrencyCode) to USD
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }

    </table>


